@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.flex-container {
  display: flex;
}


.titleListContainer {
  width: 80rem;
}

.descriptionContainer {
  width: 100rem;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 20px;
  margin-left: 50px;
}